<h1 class="technicians title">
    <i class="fas fa-tools d-none d-sm-inline"></i> 
    Technicians List
    <i class="fas fa-tools d-none d-sm-inline"></i> 
</h1>

<div class="table-responsive">

    <table id="myTable" class="technicianstable table-light table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
                <th scope="col">Specialty</th>
            </tr>
        </thead>
        <tbody>
            
            {{#each technicians}}
                <tr>
                    <th scope="row">{{this.id}}</th>
                    <td>{{this.full_name}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.phone_number}}</td>
                    <td>{{this.specialty}}</td>
                </tr>
            {{/each}}

        </tbody>
    </table>
</div>




