
<div class="arrow-plus">
    <button class="add-button" data-toggle="modal" data-target="#addTechnicianModal"><i
            class="fas fa-plus-circle"></i></button>
</div>

<h1 class="technicians title">
    <i class="fas fa-tools d-none d-sm-inline"></i>
    Your Damage Tickets
    <i class="fas fa-tools d-none d-sm-inline"></i>
</h1>

<div class="table-responsive">

    <table id="myTable" class="technicianstable table-light table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Location</th>
            <th scope="col">Image</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {{#each userDamageTickets}}
            <tr>
                <th scope="row">{{this.id}}</th>
                <td class="date">{{this.report_date}}</td>
                <td>{{this.location}}</td>
                <td><a class="view-image btn btn-link icon-button" data-toggle="modal" data-target="#viewImageModal" data-image="{{this.image}}">view</a></td>
                <td>{{this.category}}</td>
                <td>
                    <button type="button" class="btn btn-link modalButton" data-toggle="modal" data-target="#descriptionModal-{{this.id}}">
                        Click to view text
                    </button>
                </td>
                <td class="status"><strong>{{this.status}}</strong></td>
                <td>
                    <a class="btn btn-link icon-button" data-toggle="modal" data-target="#editTechnicianModal" data-id="{{this.id}}"><i class="fas fa-pencil-alt"></i></a>
                    <a href="/workerhome/remove/{{this.id}}" class="btn btn-link icon-button"><i class="fas fa-trash"></i></a>
                </td>
            </tr>

            <div class="modal fade" id="descriptionModal-{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel-{{this.id}}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="descriptionModalLabel-{{this.id}}">Description</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body modalBody">
                            {{this.description}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </tbody>

    </table>
</div>

<!-- Post Modal -->
<div class="modal fade" id="addTechnicianModal" tabindex="-1" role="dialog" aria-labelledby="addTechnicianModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTechnicianModalLabel">Report a damage</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="post-form">
                    <h2>Add a Damage Ticket</h2>
                    <form action="/workerhome" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-map-marker-alt"></i></span>
                            <select name="location" required>
                                <option value="" disabled selected>Select Location</option>
                                <option value="Area-1">Area-1</option>
                                <option value="Area-2">Area-2</option>
                                <option value="Area-3">Area-3</option>
                                <option value="Area-4">Area-4</option>
                                <option value="Area-5">Area-5</option>
                                <option value="Area-6">Area-6</option>
                                <option value="Area-7">Area-7</option>
                                <option value="Area-8">Area-8</option>
                                <option value="Area-9">Area-9</option>
                                <option value="Area-10">Area-10</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-image"></i></span>
                            <input type="file" accept="image/*" name="image" required />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-tags"></i></span>
                            <select name="category" required>
                                <option value="" disabled selected>Select Category</option>
                                <option value="Category-1">Category-1</option>
                                <option value="Category-2">Category-2</option>
                                <option value="Category-3">Category-3</option>
                                <option value="Category-4">Category-4</option>
                                <option value="Category-5">Category-5</option>
                                <option value="Category-6">Category-6</option>
                                <option value="Category-7">Category-7</option>
                                <option value="Category-8">Category-8</option>
                                <option value="Category-9">Category-9</option>
                                <option value="Category-10">Category-10</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-pencil-alt"></i></span>
                            <textarea placeholder="Description" name="description" required></textarea>
                        </div>
                        <br />
                        <button type="submit" style="margin-bottom: 10px;">Post</button>
                        <br />
                        {{#if message}}
                        <div class="alert alert-success" role="alert">
                            {{message}}
                        </div>
                        {{/if}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editTechnicianModal" tabindex="-1" role="dialog" aria-labelledby="editTechnicianModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTechnicianModalLabel">Edit a damage ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="post-form">
                    <h2>Edit a Damage Ticket</h2>
                    <form id="editForm" action="/workerhome/update/ID" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-map-marker-alt"></i></span>
                            <select id="editLocation" name="location" required>
                                <option value="" disabled>Select Location</option>
                                <option value="Area-1">Area-1</option>
                                <option value="Area-2">Area-2</option>
                                <option value="Area-3">Area-3</option>
                                <option value="Area-4">Area-4</option>
                                <option value="Area-5">Area-5</option>
                                <option value="Area-6">Area-6</option>
                                <option value="Area-7">Area-7</option>
                                <option value="Area-8">Area-8</option>
                                <option value="Area-9">Area-9</option>
                                <option value="Area-10">Area-10</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-image"></i></span>
                            <input id="editImage" type="file" accept="image/*" name="image" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-tags"></i></span>
                            <select id="editCategory" name="category" required>
                                <option value="" disabled>Select Category</option>
                                <option value="Category-1">Category-1</option>
                                <option value="Category-2">Category-2</option>
                                <option value="Category-3">Category-3</option>
                                <option value="Category-4">Category-4</option>
                                <option value="Category-5">Category-5</option>
                                <option value="Category-6">Category-6</option>
                                <option value="Category-7">Category-7</option>
                                <option value="Category-8">Category-8</option>
                                <option value="Category-9">Category-9</option>
                                <option value="Category-10">Category-10</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-pencil-alt"></i></span>
                            <textarea id="editDescription" placeholder="Description" name="description"
                                required></textarea>
                        </div>
                        <br />
                        <button type="submit" style="margin-bottom: 10px;">Edit</button>
                        <br />
                        {{#if message}}
                        <div class="alert alert-success" role="alert">
                            {{message}}
                        </div>
                        {{/if}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- View Image Modal -->
<div class="modal fade" id="viewImageModal" tabindex="-1" role="dialog" aria-labelledby="viewImageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewImageModalLabel">Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="modalImage" src="" alt="Damage Image" class="img-fluid w-100">
            </div>
        </div>
    </div>
</div>

<script>
    function changeStatusColor() {
        var statusCells = document.querySelectorAll('.status');
        statusCells.forEach(function (cell) {
            var status = cell.textContent.trim().toLowerCase(); 
            if (status === 'to fix') {
                cell.style.color = 'red';
                cell.textContent = 'To Fix'; 
            } else if (status === 'fixed') {
                cell.style.color = 'green';
                cell.textContent = 'Fixed'; 
            } else if (status === 'in progress') {
                cell.style.color = 'orange';
                cell.textContent = 'In Progress'; 
            }
            cell.style.fontWeight = 'bold';
            cell.style.whiteSpace = 'nowrap'; 
        });
    }

    function viewImage(event) {
        event.preventDefault();
        var link = event.target.closest('a');
        var imageUrl = link.getAttribute('data-image');
        var modalImage = document.getElementById('modalImage');
        modalImage.src = imageUrl;
    }

    function trimDescription() {
        var modalBodies = document.getElementsByClassName('modalBody');
        var modalButtons = document.getElementsByClassName('modalButton');

        for (var i = 0; i < modalBodies.length; i++) {
            var modalBody = modalBodies[i].textContent.trim();
            var modalButton = modalButtons[i];
            modalButton.textContent = modalBody.substring(0, 12) + '...';
            modalButton.title = modalBody;
        }
    }

    function getDescriptionById(modalId) {
        // Select the modal element by its ID
        const modal = document.getElementById(`descriptionModal-${modalId}`);

        // Check if the modal exists
        if (modal) {
            // Find the modal-body element within the modal
            const modalBody = modal.querySelector('.modalBody');

            // Check if the modal-body element exists and return its text content
            if (modalBody) {
                return modalBody.textContent.trim();
            } else {
                console.error('Modal body element not found');
                return null;
            }
        } else {
            console.error('Modal element not found');
            return null;
        }
    }

    function populateEditModal(event) {
        var button = event.target.closest('a');
        var id = button.getAttribute('data-id');
        var row = button.closest('tr');
        var location = row.cells[2].textContent;
        var category = row.cells[4].textContent;
        //var description = row.cells[5].textContent;
        //console.log('description',description);
        //var fullDescription = document.getElementsByClassName('modal-body modalBody');
        //console.log('full descr',fullDescription);
        var fullDescription = getDescriptionById(id);

        document.getElementById('editLocation').value = location;
        document.getElementById('editCategory').value = category;
        document.getElementById('editDescription').textContent = fullDescription;

        document.getElementById('editForm').action = '/workerhome/update/' + id.toString();
    }

    function trimDate(dateString) {
        let newDate = dateString.slice(0, 10);
        return newDate;
    }

    var dateCells = document.querySelectorAll('.date');
    dateCells.forEach(function (cell) {
        cell.textContent = trimDate(cell.textContent);
    });

    changeStatusColor();
    trimDescription();

    document.addEventListener('DOMContentLoaded', function () {
        var viewLinks = document.querySelectorAll('.view-image');
        viewLinks.forEach(function (link) {
            link.addEventListener('click', viewImage);
        });

        var editButtons = document.querySelectorAll('.icon-button[data-target="#editTechnicianModal"]');
        editButtons.forEach(function (button) {
            button.addEventListener('click', populateEditModal);
        });
    });
</script>
